.dinoGame {
  width: 600px;
  height: 200px;
  border: 1px solid black;
  margin: auto;
  overflow: hidden;
}

#score {
  font-family: 'VT323', monospace;
  position: absolute;
  width: 23213120px;
  height: 100px;
  margin: 10px;
}

#startScreen {
  display: inline-block;
  font-family: 'VT323', monospace;
  position: absolute;
  text-align: center;
  margin: 50px;
  top: 10%;
  left: 43%;
}

#doNotDisplayStart {
  display: none;
}

#dino {
  width: 50px;
  height: 50px;
  background-image: url("imgs/trex.png");
  background-size: 50px 50px;

  position: relative;
  top: 150px;
}

#cactus {
  width: 20px;
  height: 40px;
  background-image: url("imgs/cactus.png");
  background-size: 20px 40px;

  position: relative;
  top: 110px; 
  left: 580px;

  animation: cactusBlock 1.3s infinite linear;
  animation-play-state: paused;
}

#cactus.animation{
  width: 20px;
  height: 40px;
  background-image: url("imgs/cactus.png");
  background-size: 20px 40px;

  position: relative;
  top: 110px; 
  left: 580px;

  animation: cactusBlock 1.3s infinite linear;
  animation-play-state: running;
}

@keyframes cactusBlock {
  0% {
      left: 580px;
  }

  100% {
      left: 20px;
  }
}

.jump {
  animation: jump 0.4s linear;
}

@keyframes jump {
  0% {
      top: 150px;
  }

  30% {
      top: 125px;
  }

  50% {
      top: 80px;
  }

  70% {
    top: 105px;
  }

  80% {
      top: 125px;
  }

  100%{
      top: 150px;
  }
}

#floor {
  position: relative;
  width: 2500px;
  top: 90px;
}

.spaceGame{
  position: relative;
  top: 80px;
  left: -10px;
  width: 900px;
  height: 600px;
  border: 3px solid black;
  margin: auto;
  overflow: hidden;
}

#spaceInvader\/1 {
  width: 50px;
  height: 50px;
  background-image: url("imgs/spaceInvader.png");
  background-size: 50px 50px;

  position: absolute;
  top: 150px;
  margin: 5px;
  justify-content: 'space-between';
  left: 5px;
}

#spaceInvader {
  width: 50px;
  height: 50px;
  background-image: url("imgs/spaceInvader.png");
  background-size: 50px 50px;

  position: relative;
  top: 150px;
  justify-content: 'space-between';
  left: 5px;
}

#spaceInvader {
  width: 50px;
  height: 50px;
  background-image: url("imgs/spaceInvader.png");
  background-size: 50px 50px;

  position: relative;
  top: 150px;
  justify-content: 'space-between';
  left: 5px;
}

.home-background{
  text-align: center;
}

#home-title {
  font-size: 170px;
  text-align: center;
  font-family: 'VT323', monospace;
  animation: text-loop 8s infinite;
}

@keyframes text-loop {
  0% { color: #fafa6e;}
  10% {color: #c4ec74;}
  20% {color: #92dc7e;}
  30% {color: #64c987;}
  40% {color: #39b48e;}
  50% {color: #089f8f;}
  60% {color: #00898a;}
  70% { color: #08737f;}
  80% {color: #215d6e;}
  90% {color: #2a4858;}
  100% {color: #fafa6e;}
}

#home-desc {
  position: relative;
  top: 0px;
  font-family: 'DotGothic16', sans-serif;
  font-size: 30px;
}

#dinoScreenshot {
  position: relative;
  top: 190px;
}
